.about-1 {
	aside {
		margin-top: 96px;

		.page-template-about-us & {
			margin-top: 170px;
		}

		img {
			box-shadow: 13px 7px 15px 0px rgba(0, 0, 0, 0.2);
		}
	}
}

.blue-sec {
	background-color: #081928;
	background-image: url('../../images/backgrounds/drill-bg.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 96px 0 70px;

	.container {
		position: relative;

		&:before {
			width: 95%;
			height: 625px;
			border: 3px solid $red;
			top: -171px;
			position: absolute;
			left: 30px;
			content: '';
			display: block;
		}		
	}

	h3 {
		color: $white;
		font-size: 18px;
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 30px;
		letter-spacing: .005em;
		text-transform: uppercase;
	}

	p {
		color: #a5a6b1;
	}

	&+section {
		padding-top: 204px;
	}
}

.upcoming-events {
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url('../../images/backgrounds/shipyard-bg.jpg');
	background-size: cover;
	height: 672px;
	padding: 54px 0;

	h2 {
		color: $white;
		padding-left: 65px;
		margin-bottom: 50px;
	}

	p {
		color: #a5a6b1;
		font-size: 16px;
	}

	&-item {
		padding: 90px 65px 0 55px;
		position: relative;

		a {
			&:first-of-type {
				margin-bottom: 30px;
			}

			&:last-of-type {
				display: inline-block;
			}
		}
	}

	.col-md-4 {
		&.first {

			.upcoming-events-item {
				&:before {
					border: 3px solid $red;
					width: 100%;
					height: 560px;
					content: '';
					position: absolute;
					top: 0;
					left: 0;
				}		

			}
		}
	}
}