.membership-section {
	a {
		&.list-group-item-action {
			font-size: 18px;
			width: 100%;
			margin: 0 10px;
			
			@media screen and (min-width: 768px) and (max-width: 991px) {
				width: unset;
				height: 50px;
			}

			@media screen and (min-width: 992px) {
				width: 168px;
				margin: 0 30px;
			}

			@media screen and (min-width: 1200px) {
				width: 234px;
			}

			&:nth-of-type(3), &:last-of-type {
				background-color: silver;
				color: $white;
				&:hover, &:focus, &.active {
					background-color: $red;
				}
			}
		}
	}
}

.membership-note {
	color: #001628;
	margin: 28px 0 96px;
	
	strong {
		color: $red;
		text-transform: uppercase;
	}
}