.course-wrap {
	padding-top: 116px;
}

.course-section, .membership-section {
	background: $beige;
	position: relative;
	padding: 35px 15px 48px;

	@media screen and (min-width: 768px) {
		padding: 75px 94px 48px;
	}

	h2 {
		color: #c6c5c5;
		font-size: 24px;

		@media screen and (max-width: 767px) {
			text-align: center;
			width: 100%;
			margin-bottom: 20px;
		}

		@media screen and (min-width: 768px) {
			position: absolute;
			left: 30px;
			top: 184px;		
			transform: rotate(-90deg);
			transform-origin: 155px 166px 0px;
		}

		.page-template-membership & {
			transform-origin: 113px 122px 0px;
		}
	}

	&:nth-type(2) {
		h2 {
			transform-origin: 158px 166px 0px;
		}
	}

	&:last-of-type {
		h2 {
			transform-origin: 112px 110px 0px;
		}
	}

	h3 {
	 color: $red;
	 font-size: 30px;
	 margin-bottom: 10px;
	 text-transform: uppercase;
	 margin: 0;
	}

	.list-group {
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 58px;

		@media screen and (min-width: 768px) {
			flex-direction: row;
		}
	}

	a {
		&:not(.list-group-item) {
			font-weight: 700;
			text-decoration: underline;
			text-transform: uppercase;
			color: $text;

			&:hover {
				color: $red;
			}			
		}

		&.list-group-item-action {
			display: inline-block;
			background: $gold;
			color: #ccc1ad;
			text-transform: uppercase;
			text-align: center;
			font-size: 20px;
			text-decoration: none;
			border: none;
			border-radius: 0;
			width: 475px;
			padding-top: 16px;

			@media screen and (max-width: 767px) {
				margin-bottom: 15px;
				font-size: 18px;
			}

			@media screen and (min-width: 768px) and (max-width: 991px) {
				height: 80px;
			}

			&.active, &:hover {
				background: $red;
				color: $white;
			}
		}
	}

	&-intro {
		p {
			color: #8a162b;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}

.course-1 {
	@media screen and (min-width: 768px) {
		margin-bottom: 78px;
	}
}