/**Header**/
.top-header {
	padding: 0 0 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;

	.container-fluid {
		max-width: 1600px;
	}

	&.sps {
		background-color: #001628;

		.home & {
			@media screen and (min-width: 992px) {
				background-color: transparent;
			}
		}

		&.sps--blw {
			.home & {
				background-color: #001628;
			}		
		}
	}

	&.sps--blw {
		padding: 20px 0;
	}

	.search-bar {
		position: absolute;
		right: -9999px;
		bottom: -65px;
		padding: 15px;
		background-color: #001628;
		transition: .5s linear;

		&.active {
			right: -20px;
		}

		input {
			padding: 5px 10px;
		}

		.ab-search {
			display: none;
		}
	}
}

.deal-bar {
	background: #314d64; 
	padding: 15px 0;

	&-slide {
		color: $white;
		text-decoration: underline;
		display: block;
	}
}

.logo {
	margin-top: 15px;
}

.events {
	padding-top: 100px;

	&-item {
		font-size: 25px;
		font-family: $heading-font;
		line-height: 1;
		letter-spacing: .03em;
		position: relative;
		margin-bottom: 32px;
		z-index: 999;
		
		a {
			color: $white;
			display: block;

			div {
				border-bottom: 3px solid $gold;
				padding-bottom: 8px;
				padding-right: 20px;
			}
		}

		i {
			font-size: 16px;
			position: absolute;
			bottom: 15px;
			right: 0;
		}
	}

}