.navbar {
	flex-direction: column;
	align-items: initial;
	
	&-nav {
		flex-direction: row;
		justify-content: end;
		
		>li {
			>a {
				color: $white;
				text-transform: uppercase;
				font-size: 14px;
				position: relative;
				padding: 0 6px 14px;

				@media screen and (min-width: 1200px) {
					padding: 0 8px 14px;
				}

				&:after {
					position: absolute;
					bottom: 6px;
					width: 100%;
					height: 3px;
					background: transparent;
					content: '';
					display: block;
					border: none;
				}

				&:hover, &:focus {
					&:after {
						background: $gold;
					}
				}
			}

			&.show {
				>a {
					&:after {
						background: $red;
					}
				}
			}
		}

		.dropdown-menu {
			position: absolute;
			background: #001628;
			border: none;
			border-radius: 0;

			@media screen and (min-width: 992px) {
				min-width: 320px;
			}

			 li {
				 a {
					font-size: 14px;
					color: $white;
					text-transform: uppercase;
					display: block;
					border-bottom: 1px solid $text;
					padding: 10px 10px 10px 8px;

					&:hover, &:focus {
						border-color: $red;
					}
				}
			}
		}
	}

	&-social {
		display: flex;
		justify-content: end;
		width: 100%;
		margin-bottom: 15px;

		li {
			&:first-of-type {
				a {
					color: $gold;

					&:hover,&:focus {
						color: $red;
					}
				}
			}
		}

		a {
			color: #7e8fa6;
			padding: 0 10px;

			&:hover, &:focus {
				color: $white;
			}
		}
	}
}