.center-col {
  float: none;
  margin: 0 auto;
}

.main {
	position: relative;
	overflow: hidden;

	.container {
		z-index: 2;
	}

	&:before, &:after {
		content: '';
		position: absolute;
		top: 0;
		background-repeat: no-repeat;
	}

	&:before {
		background-image: url('../../images/left-upper-dots.jpg');
		left: 0;
		width: 440px;
		height: 439px;
	}
	&:after {
		background-image: url('../../images/right-upper-dots.jpg');
		right: 0;
		width: 455px;
		height: 490px;
		z-index: 1;		
	}

	&:first-of-type {
		.headline {
			margin-top: 86px;
		}

		aside {
			margin-top: 86px;
		}
	}

	.page-template-contact & {
		margin-top: 95px;
	}

}

.split-bg {
	background-image: url('../../images/backgrounds/grid-bg.jpg');
	padding: 89px 0 14px;
	position: relative;
	* {
		color: $white;
	}

	&:before {
		width: 63%;
		height: 100%;
		content: '';
		display: block;
		background-position: left top;
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;

		@media screen and (min-width: 1200px) {
			background-size: 100%;
		}
	}

	&.home-section-3 {
		&:before {
			background-image: url('../../images/backgrounds/hard-hat-bg.jpg');
		}
	}

	&.home-section-5 {
		&:before {
			background-image: url('../../images/backgrounds/beam-bg.jpg');
		}
	}	

	h2 {
		line-height: 1;
		font-size: 35px;
		margin-bottom: 57px;

		strong {
			font-size: 84px;
			float: left;
			margin-right: 5px;
			position: relative;
			top: -4px;
		}
	}
}

.solid-bg {
	background: linear-gradient(to right, #051829 0%,#232732 100%);

	*  {
		color: #a5a6b1;
	}
}

/**Icons**/

.certification-icon {
	width: 60px;
	height: 57px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url('../../images/icons/certification.svg');
}

.article-icon {
	width: 62px;
	height: 62px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url('../../images/icons/article.svg');
	display: block;
}

.calendar-icon {
	width: 49px;
	height: 49px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url('../../images/icons/calendar.svg');
	display: block;
}

.handshake-icon {
	width: 54px;
	height: 54px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url('../../images/icons/handshake.svg');
	display: block;
}

.letter-icon {
	width: 36px;
	height: 42px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url('../../images/icons/letter.svg');
	display: block;
}

.meeting-icon {
	width: 54px;
	height: 54px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url('../../images/icons/meeting.svg');
	display: block;
}

.notepad-icon {
	width: 51px;
	height: 51px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url('../../images/icons/noepad.svg');
	display: block;
}