/**Typography**/
h1,h2,h3,h4,h5 {
	font-family: $heading-font;
}

.headline {
	font-size: 40px;
	color: $text;
	margin-bottom: 0;
	line-height: 1.25;
	letter-spacing: .005em;
	text-transform: uppercase;
}

h2 {
	font-size: 35px;
	text-transform: uppercase;

	@media screen and (min-width: 768px) {
		font-size: 40px;
	}
}

.subtitle {
	font-weight: 300;
	color: $gold;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: .005em;
	line-height: 1.25;
	margin-bottom: 48px;
}

p {
	color: $text;
	line-height: 1.76;
	margin-bottom: 20px;

	@media screen and (min-width: 768px) {
		margin-bottom: 36px;
	}
}

.home-section-4, .about-3 {
	ol {
		list-style: none;
		padding-left: 5px;

		li {
			counter-increment: li;
			padding-left: 38px;
			position: relative;
			margin-bottom: 35px;
			font-size: 20px;
			heght: 68px;
			text-transform: uppercase;
			//height: 56px;
			display: flex;
			align-items: center;
			padding-top: 12px;			
			
			&:before {
				content: counter(li);
				color: $gold;
				display: inline-block;
				position: absolute;
				left: 0;
				top: 12px;
				font-size: 60px;
				font-weight: 300;
				line-height: 1;
				font-family: $heading-font;

				.home-section-4 & {
					top: 5px;
				}
			}
		}
	}	
}

.about-3 {
	ol {
		li {
			display: inherit;
		}
	}
}


article, .entry-content {
	>ul {
		margin-bottom: 36px;
	}
	ul {
		color: $text;
		line-height: 1.76;

		li {
			position: relative;
			padding-left: 30px;
			margin-bottom: 20px;

			&:before {
				position: absolute;
				left: 0;
				top: 6px;
				background: $red;
				content: '';
				display: block;
				height: 13px;
				width: 13px;
			}
		}
	}

	.bullets {

		ul {
			padding-left: 20px;

			li {
				list-style: circle;
				padding: 0;
				margin: 0;

				&:before {
					display: none;
				}

				ul {
					li {
						list-style: disc;
					}
				}				
			}					
		}

		ol {
			> li {
				list-style: decimal;
			}
			ul {
				li {
					list-style: lower-alpha;

					ul {
						li {
							list-style: disc;
						}
					}
				}
			}
		}
	}	

	ol {
		padding-left: 20px;

		> li {
			list-style: decimal;
			margin-bottom: 20px;

			>ul {
				margin-top: 20px;
			}
		}
		ul {
			li {
				list-style: lower-alpha;

				ul {
					li {
						list-style: disc;
					}
				}
			}
		}
	}
}

