h1,h2,h3,h4,h5 {
	font-family: $heading-font;
}

.headline {
	font-size: 40px;
	color: $text;
	margin-bottom: 0;
	line-height: 1.25;
	letter-spacing: .005em;
	text-transform: uppercase;
}

h2 {
	font-size: 40px;
	text-transform: uppercase;
}

.subtitle {
	font-weight: 300;
	color: $gold;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: .005em;
	line-height: 1.25;
	margin-bottom: 48px;
}

p {
	color: $text;
	line-height: 1.76;
	margin-bottom: 36px;
}

article {
	ul {
		color: $text;
		line-height: 1.76;
		margin-bottom: 36px;	

		li {
			position: relative;
			padding-left: 30px;
			margin-bottom: 20px;

			&:before {
				position: absolute;
				left: 0;
				top: 6px;
				background: $red;
				content: '';
				display: block;
				height: 13px;
				width: 13px;
			}
		}
	}
}

ol {
	list-style: none;
	padding-left: 5px;

	li {
		counter-increment: li;
		padding-left: 38px;
		position: relative;
		margin-bottom: 35px;
		font-size: 20px;
		text-transform: uppercase;
		height: 56px;
		display: flex;
		align-items: center;
		padding-top: 12px;
		
		&:before {
			content: counter(li);
			color: $gold;
			display: inline-block;
			position: absolute;
			left: 0;
			top: 5px;
			font-size: 60px;
			font-weight: 300;
			line-height: 1;
			font-family: $heading-font;
		}
	}
}