$white: #fff;
$black: #000;

$green: #18563e;
$light-green: #2c9e72;
$dark-green: #344942;


$red: #a10e27;
$dkred: #250902;

$gold: #9e8862;
$beige: #edebe6;

$text: #2b2d42;
$text-input: #505050;
$text-btn-green: #286f53;
$required-text: #9f9f9f;

$blue: #3c6fc7;
$dark-blue: #202e3e;

$orange: #b3552c;

$grey: #565656;
$border-grey: #cfcfcf;
$light-grey: #f7f7f7;
$lighter-grey: #b7b7b7;
$dark-grey: #707070;
$darker-grey: #3d3d3d;

$default-font: 'Overpass', sans-serif;
$form-font: 'Open Sans', sans-serif;
$heading-font: 'Khand', sans-serif;